/* محتوای منو */
.accordion > div > span {
    display: block;
    width: 100%;
    background: #eee;
    padding: 10px 20px 11px;
    cursor: pointer;
}
/* اولین و آخرین منو دورش خمیده باشه */
.accordion > div:first-child > span {
    border-radius: 10px 10px 0 0;
}
.accordion > div:last-child > span {
    border-radius: 0 0 10px 10px;
    /* انیمیت دور خمیده */
    transition: all 0.5s;
}
/* دور آخرین منو وقتی بازه خمیده نباشه */
.accordion > div.show:last-child > span {
    border-radius: 0;
}
/* منو در حال عادی علامت پلاس داشته باشه و در سمت راست قرار بگیره */
.accordion > div > span:after {
    content: '\002B';
    float: right;
}
/* منوی بازشده علامت ماینس داشته باشه و سمت راست قرار بگیره */
.accordion > div.show > span:after {
    content: '\2212';
    float: right;
}
/* هاور روی عنوان منو یا محتوای منوی بازشده؛ رنگ پس زمینه شون این رنگ بشه */
.accordion > div > span:hover,
.accordion > div.show > span {
    background: #ccc;
}
/* منوی بازشونده در حال عادی */
.accordion > div > div {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    /* به جای دیسپلی */
    max-height: 0;
    /* جلوگیری از تورفتگی المنت ها */
    overflow: hidden;
    transition: all 0.5s;
    /* مرتب کردن المنت */
    padding: 0 15px;
}
/*محتوای داخل منوی بازشده */
.accordion > div.show > div {
    padding: 15px;
}
/* آخرین منو وقتی بازه خمیده باشه و پایینش بوردر داشته باشه */
.accordion > div.show:last-child > div {
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}